<%- include('partials/header') %>

<%- include('partials/nav') %>


<div class="app">

    <div class="banner-hotel">
        <div>
            <a href="/home" class="btn-primary">
                <i class="las la-arrow-left"></i> Back
            </a>
            <br><br>
            <h1><%- hotelData.name %></h1>
            <p>
                <i class="las la-map-marker"></i>
                <% if( hotelData.address.line1 ){ %>
                    <%- hotelData.address.line1 %>
                <% } %>, 
                <% if( hotelData.address.city ){ %>
                    <%- hotelData.address.city %>
                <% } %>
            </p>
            <% if( hotelData.emails.length ){ %>
                <p><a class="link" href="mailto:<%- hotelData.emails[0] %>"><i class="las la-envelope"></i><%- hotelData.emails[0] %></a></p>
            <% } %>
            <% if( hotelData.phoneNumbers.length ){ %>
                <p><a class="link" href="tel:<%- hotelData.phoneNumbers[0] %>"><i class="las la-phone"></i><%- hotelData.phoneNumbers[0] %></a></p>
            <% } %>
        </div>
        <div>
            <img src="<%- hotelHeroImage.url %>">
        </div>
    </div>
    <div class="section">
        <p>
            <%- hotelData.description.short %>
        </p>
    </div>
</div>

<%- include('partials/footer') %>

<!-- ==================================== JAVASCRIPT -->

<script>
</script>